@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<link href="~/Content/animations.css" rel="stylesheet" />
<script src="~/Scripts/css3-animate-it.js"></script>
<!DOCTYPE html>

<html>
<body>
    <div class="adminPanelMain">
    <div class="adminIndexMain">
        <div class="adminIndexHeader">
            <ul class="nav nav-tabs">
                <li class="tabLink">
                    <a href="/Admin/UserManager" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#indexBody" class="linkItem"><span>Users</span></a>
                </li>
                <li class="tabLink">
                    <a href="/Admin/LevelManager" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#indexBody" class="linkItem"><span>Levels</span></a>
                </li>
                <li class="tabLink">
                    <a href="/Admin/ForumManager/" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#indexBody" class="linkItem"><span>Forums</span></a>
                </li>
                <li class="tabLink">
                    <a href="/Admin/Automations" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#indexBody" class="linkItem"><span>Automations</span></a>
                </li>
            </ul>
        </div>
        <div id="indexBody" class='animatedParent' data-sequence='500'>
            <div id="test">

            </div>
        </div>
    </div>
    </div>
</body>
</html>
