@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<!DOCTYPE html>

<html>
<body>
    <div class="adminPanelMain">
    <div class="adminIndexMain">
        <div class="adminIndexHeader">

        </div>
        <div class="adminIndexBody">

        </div>
    </div>
    </div>
</body>
</html>
