
    <div class="liveChat">
        <div class="chatBox">
            <span class="glyphicon-comment"></span>
        </div>
    </div>
    <div class="notificationBar">
        <div class="home">
            <span class="fa fa-comment fa-2x z"></span>
        </div>
        <div class="messages">
            <span class="fa fa-envelope fa-2x z"></span>
        </div>
        <div class="notifications">
            <span class="fa fa-bell fa-2x z"></span>
        </div>
    </div>