@model WebApplication1.Models.Post
@using WebApplication1.Models;
@{
    ViewBag.Title = "ViewPost";
}

<h2>ViewPost</h2>
<h3>@Model.Title</h3>

@Html.Raw(Server.HtmlDecode(CodeParser.getParser().ToHtml(Model.Body)))

