@{
    ViewBag.Title = "Confirm Email";
}


<div class="bodyContent">
    <h2 class="confirmTitle">@ViewBag.Title</h2>
    <div class="confirmBody">

        <span class="confirmSpan">
            Thank you for confirming your email
        </span>
        <div class="confirmSpan">
            <a href="Account/Login/" class="confirmButton">Log in</a>
        </div>
    </div>
</div>
