@{
    ViewBag.Title = "Contact";
}
<link rel="stylesheet" href="~/Content/magnific-popup.css" />
<div class="picture">
    <img src="~/Assets/AW.png" width="370" height="220" alt="Test Pic">
</div>
<aside class="Servers">
    <h3>Past Servers</h3>
    <div id="TabContainer">
        <div id="tabs">
            <ul>
                <li id="tab1"><a href="#tab1">Vanilla</a></li>
                <li id="tab2"><a href="#tab2">Xbox 360</a></li>
                <li id="tab3"><a href="#tab3">Affinity Wars</a></li>
                <li id="tab4"><a href="#tab4">Thorugh The Ages</a></li>
            </ul>
        </div>
        <div id="containers">
            <div class="tab">
                <h4>Vanilla</h4>
                <p>
                    A few years ago I had hosted a vanilla server on Minecraft version 1.6.4, which we later updated to version 1.7.10. This purpose of this server had a long story associated with it.
                    The server was created in order for me and some friends to continue creating a massive build project that we had been working on for years. Starting back in Minecraft 1.2.5 me and a
                    friend began playing on a server hosted by one of friends. This was our first real time playing creative minecraft, creative being a sorta &ldquo;cheats&rdquo; enabled gamemode, with the sole purpose
                    of building unique structures. We both started off in different areas with different ideas in mind. My friend, hence known as TuffRuffRky, began work on a medieval themed castle. Meanwhile
                    I began work on an ocean oasis middle eastern themed city. After a few days of work both projects were coming along nicely, however I spent much more time on mine, and as such it was larger.
                    After we went and looked at each others, my friend felt like my building style reminded him of a map from Call of Duty he had loved, which then made him want to contribute to my project instead.
                    We began colloborating, working together to create a massive city. After several weeks this became public to the rest of the server, and the feedback was great. We continued working on it until
                    sadly the server was shut down due to lack of revenues to maintain the server. The world file was passed on to me, which using external tools I was able to extract the city in its entirety.
                </p>
                <div class="showCase">
                    <a class="pics image-link" href="~/Assets/vanilla4.png" title="Pic"><img src="~/Assets/vanilla4.png" width="370" height="180"></a>
                    <a class="pics image-link" href="~/Assets/vanilla2Copy.png" title="Pic"> <img src="~/Assets/vanilla2.png" width="370" height="180"></a>
                    <a class="pics image-link" href="~/Assets/vanilla3.png" title="Pic"><img src="~/Assets/vanilla3.png" width="370" height="180" /></a>
                </div>
            </div>
            <div class="tab">
                <h4>Xbox 360</h4>
                <p>
                    After the vanilla server shut down, I never really played minecraft anymore, until one fateful day I heard great news. Minecraft was coming to the Xbox 360 with server support (for friends at least).
                    Since day one I had hosted a survival server (at the time creative wasn't available) which quickly grew to become a massive build project. My old friend, and a few new ones joined the server regularly
                    to contribute or to build their own creations. About a year after its release, and after creative mode was added, I started looking into ways to convert world files from the PC to the Xbox. After spending
                    hours looking throught the source code, editing hex codes and visiting countless forums with other users interested in the same thing I came up short handed. It wasn't until several months later when a certian
                    youtuber (name not to be dicloused here) claimed he was working on a method to allow just what I wanted. It quickly started a heated debate online as map makers on the console version didn't like the idea
                    since it allowed PC users to utilize external tools to create massive structures with little to no effort. This debate lasted several weeks, until finally the software was released. In essence
                    the challenege was in the way files were stored. On the pc they had long since moved to a new file format, which wasn't being used by the console. This made converion very tricky. Luckily a trciky method
                    was devised. Looking into the hex code for the file it was discovered you could extract all the information about the blocks contained based on their posistion in the code. Use some tricky algoriths, wait an hour
                    and voila, you have a map converted (it wasn't quite as simple as that). So naturally, I created a new world with the city in it. We were amazed. Speechless almost infact, as we gazed upon our creation, still in
                    its original condition. We quickly began work once more. After several mothns, and after gaining a few new contributors, it had easily grown to be 3-4 times its original scope. Sadly though, highschool got in the way.
                    Junior year began to suck all the free time anyone had left, and progress halted. After converting it back to a pc world for archival purposes I shut down the Xbox server.
                </p>
            </div>
            <div class="tab">
                <h4>Affinity Wars</h4>
                <p>
                    Affinity Wars, the name given to a new type of server I developed, is probably one of the bigest things I have ever sunk my time into, and a lot of time was sunk into it. Starting out as a way to create a better
                    modded PVP server, similar to other popular servers without the drawbacks (as my team experienced firsthand after spending hundreds of hours on other servers) it quickly became, well to be honest, a disaster.
                    The first revision was frankly a disaster. It was messy, unordered, the website was lacking, custom content was nowhere to be found, server wide systems barely funtioned and the player base was nearly extinct. Most
                    of this was due to my inexperirence in hosting very large servers, especially large modded ones (known to be full of bugs). It was quickly aboneded, not to be seen again for many motnhs. After some time another friend
                    was very bored and wanted something to do, but didn't like playing on other servers since he couldn't get admin priveledges. After some discussion we decided to try and redo the server. This time around things were looking
                    pretty decent. The pack was much more stable, had some new custom content added, server systems were mostly functioning and the website was overhauled. The issue this time, or the two issues, was lack of players and lack
                    of proper server hardware to actually host it on. Once again aftersome time thi server was also shut down, however we did gain a few players, who would play crucial on the next iteration. After shutting this server down I
                    had already planned on re-hosting the server in the future. After some time had passed I had began work on recreating the entire pack and server from scratch. Spending dozens of hours testing, configuring and advertising the server,
                    it was complete. For once we had a fully functioning server, and this time it worked. The server began on a PC I had made from space parts, some amd FX 6300, 8gb of ram and a small SSD. This worked, for a while, but after we began getting
                    much more players than anticipated we quickly realized that this hardware would not work. Saving money slowly but surely, I eventually got enough to buy some real hardware. This time around an i7-4790k overclocked with water cooling,
                    16gb ram, a larger and faster SSD and a 1TB backup drive. The server started to prosper, having usually up to 20 people at a time. Soon enough though, things began to go south. Internal issues with the server software started to show up
                    with various bugs that plagued the server. While not game breaking they were annoying, but when combined with the occasional block lag from world generation it became a serious issue. The server itself all in all generated around $170 in profits
                    but sadly it was not enough to make up for the nearly $800 in hardware cost coupled with the $20 monthly fee for file hosting and website fees. While the player base never really dwindled I officially killed the server with the promise of bringing
                    it back later on and better than ever.
                </p>
            </div>
            <div class="tab">
                <h4>Through The Ages</h4>
                <p>
                    Through The Ages in the name of the new server I have slowly been working on, and one of the biggest changes in it, also being something that makes it unique from most servers, is its special progression system.
                    While not going through get lengths to describe the inner mechanics, the server is basically built around this idea of progressing through different tiers to unlock the next one. Still under developement and not near being done, we have picked up
                    two additional develepors, D3 and Nico. This will hopefully lessen the workload on a single dev and provide much better custom content.
                </p>
            </div>
        </div>
    </div>
</aside>

