

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    @foreach(var item in ViewBag.Users)
    {
        <div class="userBlock">
            <a  class="userA" href="/Dashboard/Index/@item.DisplayName">
                <div class="userProfile">
                    <img src="@item.ProfilePicture" width="75" height="75" />
                </div>
                <span class="usernameText">@item.DisplayName</span>
            </a>
        </div>
        

    }
    </div>
</body>
</html>
