<div class="level">
    <div class="levelSide">
        <div class="levelItem">
            <span>Website Tags</span>
            <div class="levelItemExtra">
                <a href="/Admin/WebsiteTagManager/Create" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#levelMain" class="linkItemLevel"><span>Create New</span></a>
                <a href="/Admin/WebsiteTagManager/Edit" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#levelMain" class="linkItemLevel"><span>Edit Current</span></a>
                <a href="/Admin/WebsiteTagManager/Settings" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#levelMain" class="linkItemLevel"><span>Settings</span></a>
                      
                    
</div>
        </div>
        <div class="levelItem">
            <span>Forum Tags</span>
            <div class="levelItemExtra">
                <a href="/Admin/ForumTagManager/Create" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#levelMain" class="linkItemLevel"><span>Create New</span></a>
                <a href="/Admin/ForumTagManager/Edit" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#levelMain" class="linkItemLevel"><span>Edit Current</span></a>
                <a href="/Admin/ForumTagManager/Settings" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#levelMain" class="linkItemLevel"><span>Settings</span></a>
                
                
                
            </div>
        </div>
        <div class="levelItem">
            <span>User Levels</span>
            <div class="levelItemExtra">
                <a href="/Admin/LevelManager/Create" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#levelMain" class="linkItemLevel"><span>Create New</span></a>
                <a href="/Admin/LevelManager/Edit" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#levelMain" class="linkItemLevel"><span>Edit Current</span></a>
                <a href="/Admin/LevelManager/Settings" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#levelMain" class="linkItemLevel"><span>Settings</span></a>
                
                
                
            </div>
        </div>
    </div>
    <div id="levelMain">

    </div>
</div>
